version: '3.8'

services:
  app:
    image: chltmdgh522/history:latest
    container_name: history-app
    depends_on:
      - db
      - redis
    env_file:
      - .env     # 서버에 업로드된 .env 사용
    ports:
      - "8080:8080"
    restart: always

  db:
    image: mysql:8.0
    container_name: mysql
    env_file:
      - .env     # DB_PASSWORD, DB_USER 읽어오기
    environment:
      MYSQL_ROOT_PASSWORD: "${DB_PASSWORD}"
      MYSQL_DATABASE: history
      MYSQL_USER: "${DB_USER}"
      MYSQL_PASSWORD: "${DB_PASSWORD}"
    ports:
      - "3306:3306"
    volumes:
      - ./mysql-data:/var/lib/mysql
    restart: always

  redis:
    image: redis:latest
    container_name: redis
    env_file:
      - .env     # REDIS_PASSWORD 가져오기
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    ports:
      - "6379:6379"
    volumes:
      - ./redis-data:/data
    restart: always
