version: '3.8'

services:
  app:
    image: chltmdgh522/history:latest
    container_name: history-app
    depends_on:
      - db
      - redis
    ports:
      - "8080:8080"
    restart: always

  db:
    image: mysql:8.0
    container_name: mysql
    env_file:
      - ./.env/env/prod.env
    environment:
      MYSQL_ROOT_PASSWORD: "05222"
      MYSQL_DATABASE: history
      MYSQL_USER: "ubuntu"
      MYSQL_PASSWORD: "0522"
    ports:
      - "3306:3306"
    volumes:
      - ./mysql-data:/var/lib/mysql
    restart: always

  redis:
    image: redis:latest
    container_name: redis
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    ports:
      - "6379:6379"
    volumes:
      - ./redis-data:/data
    restart: always
